<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/Images/unnamed.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <title>DISUJO Technology</title>
</head>
<body>
    <header>
        
        <h1>DISUJO Technology</h1> 
        <p>Dream, Build & Reasearch</p>
    </header>
    <nav>
        <ul class="navbar">
            <li><a href="#" class="navlink"> Home</a></li>
            <li><a href="#sevice" class="navlink">Sevices</a></li>
            <li><a href="#team" class="navlink">Members</a></li>
            <li><a href="#about" class="navlink">About Us</a></li>
            <li><a href="#contact" class="navlink">Contact Us</a></li>
            
        </ul>
    </nav>
   
    <main>
        <div class="animation">
            <div id="animation"><h2>Annimation</h2>
        </div></div>
        <div class="service">
            <h2 id="sevice">Our Services</h2>
            <div id="inner-service">
                <div id="inner-service1">
                    <article><h3>Web-Application</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, sunt debitis iure quas, rerum magnam repellendus minima deleniti non at, suscipit amet ipsam nam sapiente facilis cumque animi quisquam dolor excepturi veritatis. Repellendus atque assumenda doloribus aliquid facere fugit corrupti.

                    </p>
                </article>
                </div>
                <div id="inner-service2"> <article><h3>Mobile-Application</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, sunt debitis iure quas, rerum magnam repellendus minima deleniti non at, suscipit amet ipsam nam sapiente facilis cumque animi quisquam dolor excepturi veritatis. Repellendus atque assumenda doloribus aliquid facere fugit corrupti.</p></article></div>
                <div id="inner-service3"> <article><h3>Digital-Marketing</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, sunt debitis iure quas, rerum magnam repellendus minima deleniti non at, suscipit amet ipsam nam sapiente facilis cumque animi quisquam dolor excepturi veritatis. Repellendus atque assumenda doloribus aliquid facere fugit corrupti.
                    </p></article></div>
            </div>
        </div>
        <div class="team"><h2 id="team">Our Team</h2>
            <div id="team-inner">
            <div id="members">
                <img src="/Images/Member/im1.jpeg" alt="">
                <article>
                    <h3>Member Name</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid distinctio provident dolorem eum, accusantium ipsum odit accusamus ea eius.</p>
                    <p><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i> </a>
                        <a href="#" title="Twitter"><i class="fab fa-twitter"></i> </a>
                        <a href="#" title="Instagram"><i class="fab fa-instagram"></i> </a>
                        <a href="#" title="Linkedin"><i class="fab fa-linkedin-in"></i> </a>
                        
                </article>
            </div>
            <div id="members">
                <img src="Images/Member/im2.jpeg" alt="">
                <article>
                    <h3>Member Name</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid distinctio provident dolorem eum, accusantium ipsum odit accusamus ea eius.</p>
                    <p><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i> </a>
                        <a href="#" title="Twitter"><i class="fab fa-twitter"></i> </a>
                        <a href="#" title="Instagram"><i class="fab fa-instagram"></i> </a>
                        <a href="#" title="Linkedin"><i class="fab fa-linkedin-in"></i> </a>
                        
                </article>
            </div>
            <div id="members">
                <img src="Images/Member/im3.jpeg" alt="">
                <article>
                    <h3>Member Name</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid distinctio provident dolorem eum, accusantium ipsum odit accusamus ea eius.</p>
                    <p><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i> </a>
                        <a href="#" title="Twitter"><i class="fab fa-twitter"></i> </a>
                        <a href="#" title="Instagram"><i class="fab fa-instagram"></i> </a>
                        <a href="#" title="Linkedin"><i class="fab fa-linkedin-in"></i> </a>
                      
                </article>
            </div>
            <div id="members">
                <img src="Images/Member/im4.jpeg" alt="">
                <article>
                    <h3>Member Name</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid distinctio provident dolorem eum, accusantium ipsum odit accusamus ea eius.</p>
                    <p>
                        <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i> </a>
                    <a href="#" title="Twitter"><i class="fab fa-twitter"></i> </a>
                    <a href="#" title="Instagram"><i class="fab fa-instagram"></i> </a>
                    <a href="#" title="Linkedin"><i class="fab fa-linkedin-in"></i> </a>
                   
                    </p>
                </article>
            </div>
            <div id="members">
                <img src="Images/Member/im5.jpeg" alt="">
                <article>
                    <h3>Member Name</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid distinctio provident dolorem eum, accusantium ipsum odit accusamus ea eius.</p>
                    <p><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i> </a>
                        <a href="#" title="Twitter"><i class="fab fa-twitter"></i> </a>
                        <a href="#" title="Instagram"><i class="fab fa-instagram"></i> </a>
                        <a href="#" title="Linkedin"><i class="fab fa-linkedin-in"></i> </a>
                     
                </article>
            </div>
        </div>
       </div>
        <div class="about"><div>
            <h2 id="about">About us</h2>
            <article>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quisquam, provident alias sit ea ducimus nesciunt impedit, illo facere modi nemo autem ipsa maiores quis adipisci architecto, nihil nam molestias laborum dolorum corporis voluptas animi! Modi, harum quo impedit assumenda sit minus explicabo quae fugit, maiores saepe deleniti. Maiores optio cupiditate labore ab, facilis amet quam eligendi aut fugit, magnam, numquam molestiae libero iusto voluptate veniam nostrum reprehenderit. At, vitae, laborum doloremque autem reprehenderit dolore et adipisci vero rerum a consectetur veritatis architecto quidem odit numquam reiciendis totam, quasi hic accusamus exercitationem? Beatae reprehenderit excepturi dolores praesentium illo, voluptas aliquam!</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14751.830068972837!2d88.1584118!3d22.43062475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1595435973081!5m2!1sen!2sin" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfLMfSdb8WWQNHbkbb5Vc3vKQPLRXnXM1yWgMM5G1VCu7gLCQ/viewform?embedded=true" width="600" height="350" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </article></div>
        </div>
        <div class="contact"><h2 id="contact">Contact Us</h2>
            
            <div class="contact-inner">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSftgQeKoT5p6JQGXlHNt_D_oe73ioYp3uKu__HgjWUSR7DpTA/viewform?embedded=true" width="740" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                <div class="our-handles">
                    <h2>Our Social Media Handles</h2><br>
                    <div class="socialmedia">
                    <a href="#" title="Facebook"><i class="fab fa-facebook-f edit"></i> </a>
                    <a href="#" title="Twitter"><i class="fab fa-twitter edit"></i> </a><br>
                    <a href="#" title="Instagram"><i class="fab fa-instagram edit"></i> </a>
                    <a href="#" title="Linkedin"><i class="fab fa-linkedin-in edit"></i> </a><br>
                    <a href="#" title="Gmail"><i class="fas fa-envelope-open edit"></i></a>
                    
                </div>


                </div>
            </div>
            
        </div>
            
    
            
        </div>
        
    </main>
    <footer>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, iste?</p>
        </div>
    </footer>
    <script type="text/javascript" src="script/particles.js"></script>
   <script type="text/javascript" src="script/app.js"></script>
    
</body>
</html>